*{
    margin: 1px;


    box-sizing: border-box;
}

#submitButton{
    display: flex;
    justify-content: space-around;
}
table{
    width: 100%;
}
thead th{
    color: white;
    background-color: #F29877;
    height: 30px;
}
tfoot{
    color: white;
    background-color: #F29877;
}

.text{
    width: 300px;
}
#content{
    width: 300px;
    height: 150px;
    text-align: left;
    padding-top: 0px;
    resize: none;
}